body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

a{
  text-decoration: none;
  color: #007bff;
}

a:hover{
  text-decoration: underline;
  color: #0056b3;
}
.app {
  max-width: 800px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}

input, textarea {
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #00ccffea;
  cursor: pointer;
  border-radius: 4px;
  color: #0056b3;
  border-radius: 4px;
}

button:hover{
  background-color: #007bff;
  color: #fff;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}